.heroContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.heroContainer > div {
  flex: 1;
}

.profileImage {
  height: auto;
  width: clamp(320px, 30vw, 400px);
  margin-right: auto;
}
