header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem clamp(1rem, 5vw, 5rem);
  box-shadow: 0px 1px 30px rgb(223, 223, 223);
}

nav ul {
  display: flex;
  gap: clamp(1rem, 10vw, 6rem);
  list-style: none;
}

.logo {
  background-color: black;
  height: 60px;
  width: 150px;
}
