:root {
  --primary: #f8f7f6;
  --secondary: #6c8589;
  --accent: #948b75;
  --background: #f1f3f8;
  --text: #281a20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}
